version: '3'

services:
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: no
    ports:
      - 8080:80
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    networks:
      - sail
